<% if @post.errors.any? %>
  <div data-alert class="alert-box info radius">
    <p>
      Los siguientes errores no permiten guardar el Post:
      <ul>
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<%= form_for @post do |form| %>
 <%= form.label :title, 'Titulo' %>
 <%= form.text_field :title %>
 
 <%= form.label :body, 'Contenido' %>
 <%= form.text_area :body %>
 
 <%= form.label :author, 'Autor' %>
 <%= form.text_field :author %>
 
 <%= form.submit 'Guardar Post' %>
<% end %>
