<% if flash[:notice] %>
  <div data-alert class="alert-box"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <h1><%= @post.title %></h1>
</div>

<div class="row">
  <p>
    Autor: <%= @post.author %>
    <small>Publicado: <%=@post.created_at %></small>
  </p>
</div>

<div class="row">
  <%= @post.body.html_safe %>
</div>

<div class="row">
  <p><%= link_to 'Editar', edit_post_path(@post), class: 'button' %></p>
</div>

<div class="row">
  <ul class="large-block-grid-1">
    <h3>Comentarios</h3>
    <% @post.comments.each do |comment| %>
      <li>
        <p><%= comment.body.html_safe %></p>
        <p>Author: <%= comment.author %></p>
        <p><%= comment.created_at %></p>
      </li>
    <% end %>
   <ul>

  <p>Dejar comentario:</p>
  <%= form_tag comment_post_path(@post) do%>
    <%= text_area :comment, :body %>
    
    <%= label :author, 'Autor' %>
    <%= text_field :comment, :author %>
   
    <%= submit_tag 'Comentar' %>
  <% end %>
</div>
